[report]
omit=
    */python?.?/*
    *site-packages/*
    *site-packages/nose/*
    *docopt.py*
    *docopt*
    *__init__*
    *tests/*

exclude_lines =
    if __name__ == .__main__.:

[html]
directory = coverage_html
